{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-center">Products of {{ data }}'s Laptop</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary-outline" href="{% url 'computer_hub:home' %}">Back to HomePage</a>
    </div>
    <hr />
    <div class="row justify-content-center">
    {% for spec in spec_data  %}
        <div class="card mx-2" style="width:20rem;">
            <div class="card-body">
                <img src="{{ data.logo.url }}" style="width:50%" />
                <p class="lead">Specification: {{ spec.generation }}</p>       
                <p class="lead">Ram: {{ spec.ram }}GB</p>       
                <p class="lead">Max_Price: <del>Rs.{{ spec.price_max}}</del></p>       
                <p class="lead">Min_Price: Rs.{{ spec.price_min}}</p>        
                <a class="btn btn-success" href="{% url 'computer_hub:view_orders' spec.id %}">Purchase</a>        
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info">You don't have any specification details.</div>
        {% endfor %}
        <hr/>
        <div class="d-flex">
            <a class="btn btn-info" href="{% url 'computer_hub:create_spec'%}">Create Spec</a>
        </div>
    </div>
{% endblock content %}